/*
|====================================================
| RGC BASE LAYOUT DEFAULTS
|====================================================
*/

/*
|====================================================
| OVERALL LAYOUT DEFAULTS
|====================================================
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic,700,700italic);

* {
	box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
	max-width: 100%;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	line-height: 1.3;
	font-size: 16px;
	color: #222;
}

/*
|====================================================
| TYPOGRAPHIC DEFAULTS
|====================================================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0; // I don't like default margin top on my elements. Push down not up.
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1 {
	font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

h5,
h6 {
	font-size: 1em;
}

a {
	color: #0066cc;
	text-decoration: none;
}

ul, ol {
	padding-left: 20px;
}

blockquote {
	border-left: solid 1px #ccc;
	padding-left: 20px;
	font-style:italic;
}

dt {
	font-weight: 700;
}

address {
	margin: 1em 0;
}

pre {
	white-space: pre-wrap;
    word-wrap: break-word; 
}

/*
|====================================================
| CONTENT-AREA DEFAULTS
|====================================================
*/
// tables
table {
	width: 100%;
	border: solid 1px #f1f1f1;
	border-collapse: collapse;
	margin: 1em 0;
}

tr {
	border-bottom: solid 1px #f1f1f1;
}

tr:nth-child(even) {
	background: #f1f1f1;
}

td, th {
	padding: 10px;
}

th {
	font-weight: 700;
}
// end tables

// wp image defaults
.alignleft {
	float: left; 
}

.alignright {
	float: right; 
}

.aligncenter {
	display:block;
	margin:0 auto;
}

p .alignleft, 
img.alignleft, 
.wp-caption.alignleft { 
	margin: 0 20px 10px 0;
	padding: 0; 
}

p .alignright, 
img.alignright, 
.wp-caption.alignright {
	margin: 0 0 10px 20px; 
	padding: 0; 
}

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	font-size:.8em;
	font-style:italic;
	margin:0 0 1em 0;
}

.single-template .featured-img img {
	width: 100%;
}
// end wp image defaults

hr {
	border: none;
	border-bottom: solid 1px #eee;
	margin: 2em 0;
}

.pagination {
	display: flex;
}

.pagination span, 
.pagination a {
	padding: 10px;
	margin-right: 5px;
}
/*
|====================================================
| SIDEBAR-AREA/WIDGET DEFAULTS
|====================================================
*/
.widget {
	margin-bottom: 30px;
}

.widget .title {
	font-weight: 500;
}

// search widget
.searchform label {
	display:none;
}

.searchform div {
	display:flex;
	justify-content: space-between;
}

.searchform input[type="text"] {
	flex:1;
}
// end search widget