/*
|====================================================
| TABLE OF CONTENTS
|	O. SASSY STUFF :)
|   1. OVERALL LAYOUT STYLES
|	2. HEADER AREA STYLES
|	3. NAVIGATION STYLES
|	4. CONTENT AREA STYLES
|	5. SIDEBAR STYLES
|	6. FOOTER STYLES
|	7. MEDIA QUERIES
|====================================================
*/

/*
|====================================================
| 0. SASSY STUFF
|====================================================
*/


/*
|====================================================
| 1. OVERALL LAYOUT
|====================================================
*/
body {
	color: #555;
}

/*
|====================================================
| 2. HEADER STYLES
|====================================================
*/
header .container {
	display:flex;
	justify-content: space-between;
	align-items: center; 
}

header img {
	display:block;
}

header .logo {
	padding: 20px;
}

/*
|====================================================
| 3. NAVIGATION STYLES
|====================================================
*/

nav {
	flex:1;
}

nav ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

nav > ul {
	display:flex;
	justify-content: flex-end;
}

nav > ul > li {
	position: relative;
}

nav li > ul {
	display:none;
	position: absolute;
	width: 250px;
	padding-top: 1em;
	margin-top: -1em;
}

nav li:hover > ul {
	display:block;
}

nav li > ul li {
	//background: #CFD8DC;
}

nav ul ul a {
	padding: 10px;
}

nav a {
	display:block;
	text-transform: uppercase;
	padding: 15px;
	transition: all .3s;
	color: #555;
}

nav li:hover a {
	background: #f1f1f1;
}

nav li:hover li a {
	background: inherit;
}

nav li:hover li a:hover {
	background: #fff;
}

.menu-item-has-children > a {
	padding-right: 20px;
}

.menu-item-has-children > a:after {
	content: '▾';
	position: absolute;
	right: 5px;
	top:25%;
	color: #0066cc;
}


/*
|====================================================
| 4. CONTENT AREA STYLES
|====================================================
*/
.content-area {
	padding: 20px;
	background: #fff;
}

article {
	padding-bottom: 20px;
	border-bottom: dashed 1px #dddddd;
	margin-bottom: 30px;
}

article:last-child {
	margin-bottom: 0;
	border:none;
}

.article-meta {
	margin-bottom: 1em;
	color: #999;
}


/*
|====================================================
| 5. SIDEBAR STYLES
|====================================================
*/
.sidebar-area {
	padding: 20px;
}

/*
|====================================================
| 6. FOOTER STYLES
|====================================================
*/
footer .container {
	padding: 20px;
}

/*
|====================================================
| 7. MEDIA QUERIES
|====================================================
*/